.card {
  display: flex;
  width: 990px;
  background-color: #ffffff;
  border:8px solid #bdb4aa;
  
}

.conta{
  width: 400px;
  background-color: #bdb4aa;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;

}

.explicacao {
  flex: 1;
  padding: 20px;
  text-align: justify;
}
.inputs input{
    display: flex;
    align-items: center;
    width: 60px;
   }
.button {
  padding: 8px;
  font-size: 12px;
}

button {
  cursor: pointer;
  
}